
backend/venv/
backend/env/
backend/.env


**/__pycache__/
**/*.pyc


backend/*.sqlite3

frontend/node_modules/
frontend/.pnp
frontend/.pnp.js


frontend/build/
frontend/dist/

frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
**/*.log